{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@styles": "./assets/styles",
          "@images": "./assets/images",
          "@fonts": "./assets/fonts",
          "@components": "./src/components",
          "@api": "./src/api",
          "@navigations": "./src/navigations",
          "@screens": "./src/screens",
          "@redux": "./src/redux",
          "@reduxTypes": "./src/redux/types",
          "@reduxReducers": "./src/redux/reducers",
          "@reduxActions": "./src/redux/actions",
          "@reduxSagas": "./src/redux/sagas"
        }
      }
    ]
  ]
}
